header {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Hong_Kong_at_night.jpg/1920px-Hong_Kong_at_night.jpg");
    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f4/Haraaz%2C_Yemen.jpg"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 15vh;
    min-height: 150px;
    /* color: darkgreen; */
    color: #d35d4e;
    text-shadow: bisque 1px 1px 1px;

}
h1 {
    height: 100px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}