nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: center;
}


li {
    list-style: none;
    width: 30%;
}