* {
  margin: 0;
  padding: 0;
  background-color: aqua;
}

.App {
  text-align: center;
  height: 100vh;
  max-width: 100vw;
}

/* .scrollable-element {
  scrollbar-color: green blue;
} */

img {
  max-width: 90%;
  max-height: 90%;
}
