#pictureDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.picture {
    width: 400px;
    height: fit-content;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.picture p {
    background-color: black; 
}
.picture img {
    max-width: 100%;
    min-width: auto;
    height: 300px;
}