#home {
    background:rgb(0, 0, 24);
    /* background:bisque; */
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b9/Globespin_persec.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 80vh;
    width: 100vw;
    color: white;
  }

  #home ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    font-size: 35px;
    font-weight: bold;
  }
  #home li {
    width: 30%;
    text-align: center;
    color: bisque;
    /* text-shadow: bisque 1px 1px; */
  } 
